<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Habit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="habit">
    <ion-item>
      <ion-label position="stacked">Name your habit</ion-label>
      <ion-input [(ngModel)]="habit.name"></ion-input>
    </ion-item>

    <ion-button
    expand="full"
    (click)="updateHabit()"
    [disabled]="habit.name === ''"
    >Update Habit</ion-button>

    <ion-button expand="full" (click)="deleteHabit()" color="danger">Delete Habit</ion-button>

    <ion-button expand="full" (click)="test()">Remind me</ion-button>
  </div>
</ion-content>
